#Headline {
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0px;
}

#Underline {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: -50px;
}

#GenesisMapBox {
    margin-top: 25px;
    width: 1525px;
    height: 1525px;
    position: relative;
    border: 1px solid black;
    left: 50%;
    transform: translate(-50%);
}

#GenesisMap {
    width: 3050px;
    height: 3050px;
    background-image: url("Images/Genesis_Land_Map.png");
    position: absolute;
    transform: scale(0.5, 0.5);
    transform-origin: 0px 0px;
}

#GenesisRanking {
    font-size: 75px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 500px;
    text-decoration: underline;
}

#GList{
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: -75px;
}

#GL {
    display: inline-block;
    text-align: left;
}

/*Slider start */

.switch {
    position: relative;
    display: inline-block;
    width: 450px;
    height: 50px;
    left: 50%;
    margin-left: -225px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#FF8C00;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 42px;
    width: 42px;
    left: 4px;
    bottom: 4px;
    background-color: #00008B;
    -webkit-transition: .8s;
    transition: .8s;
  }
  
  input:checked + .slider {
    background-color: #00008B;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #00008B;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(400px);
    -ms-transform: translateX(400px);
    transform: translateX(400px);
    background-color:#FF8C00;
  }

  .slider:after
{
 content:'LEADERBOARD';
 color: #00008B;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 25px;
 font-family: Arial, Helvetica, sans-serif;
}

input:checked + .slider:after
{  
  content:'GENESIS OWNERS';
  color: #FF8C00;
  white-space:nowrap;
}
  /* Slider End */